@import '../theme';

@aui-sidebar-icon-size: 20px; // used for sizing the nav icons
@aui-sidebar-icon-color: @aui-color-medium-gray;
@aui-sidebar-toggle-icon-color: @aui-color-gray;
@aui-sidebar-width: (@aui-font-size-medium * 20); // 280px - expanded sidebar width
@aui-sidebar-collapsed-width: (@aui-font-size-medium * 4); // 56px - collapsed sidebar width
@aui-sidebar-border-width: @aui-border-width;
@aui-sidebar-background-color: @aui-color-light-gray;
@aui-sidebar-dropdown-arrow-color: @aui-color-gray;
@aui-sidebar-default-transition-timing: 0.1s; // sidebar tooltip and flyout menu timing
@aui-sidebar-tooltip-background-color: rgba(51,51,51,1); // the default tipsy background colour, which we use to generate gradients for the fading transition
@aui-sidebar-badge-background-color: @aui-color-ash-gray; // we use the aui colour instead of @aui-badge-bg-color because we want it to be opaque when overlaid on top of an icon
@aui-sidebar-badge-border-color: @aui-sidebar-background-color; // to match sidebar background colour
@aui-sidebar-layout-page-header-background-color: @aui-color-white;
@aui-sidebar-header-avatar-collapsed: @aui-avatar-size-medium; // resize header avatar to a smaller size
