---
component: Avatars
layout: main-layout.html
analytics:
  pageCategory: component
  component: avatar
---

<a href="https://design.atlassian.com/latest/product/components/avatars/" class="aui-button aui-button-link docs-meta-link">Design guidelines</a>
<div class="aui-message aui-message-info">
    This documentation is for the <strong>web component avatar API</strong>.
    <ul class="aui-nav-actions-list"><li><a href="avatars-deprecated.html">View documentation for the deprecated class-based avatar API.</a></li></ul>
</div>

<p>
    Avatars are used to add a human touch and instant clarity when understanding which user did what in the application.
</p>
<p>
    We also use avatars for projects, repositories, spaces and other container metaphors within Atlassian Apps.
</p>

<h3>Status</h3>
<table class="aui summary">
    <tbody>
        <tr>
            <th>API status:</th>
            <td><aui-lozenge type="current">experimental</aui-lozenge></td>
        </tr>
        <tr>
            <th>Included in AUI core?</th>
            <td><aui-lozenge type="current">Not in core</aui-lozenge> You must explicitly require the web resource key.
            </td>
        </tr>
        <tr>
            <th>Web resource key:</th>
            <td class="resource-key" data-resource-key="com.atlassian.auiplugin:aui-component-avatar"><code>com.atlassian.auiplugin:aui-component-avatar</code></td>
        </tr>
        <tr>
            <th>Experimental since:</th>
            <td>5.10</td>
        </tr>
    </tbody>
</table>

<aui-docs-contents></aui-docs-contents>


<h3 id="example">Example</h3>

<p>
    Specify the URL source for the avatar image using the <code class="first-use">src</code> attribute.
</p>
<p>
    You must also supply a textual alternative to the image using the <code class="first-use">alt</code> attribute.
    This is used by screen readers, or when the image cannot be displayed.
</p>

<aui-docs-example live-demo>
    <noscript is="aui-docs-code" type="text/html">
        <aui-avatar src="images/avatar-32.png" alt="User Avatar"></aui-avatar>
    </noscript>
</aui-docs-example>

<div class="aui-message aui-message-warning">
    <h4>The <code>alt</code> attribute is required</h4>
    <p>
        For accessibility reasons, the <code>alt</code> attribute is required.
    </p>
</div>


<h3 id="appearance">Appearance</h3>

<h4 id="sizing">Sizing</h4>

<p>
    An avatar's size can be set via the <code class="first-use">size</code> attribute.
    If not supplied, the size will default to <code>medium</code>.
</p>
<p>
    See the <a href="#api-reference-size">API reference</a> for a list of all available sizes.
</p>

<aui-docs-example live-demo>
    <noscript is="aui-docs-code" type="text/html">
        <aui-avatar src="images/avatar-96.png" alt="XSmall Avatar"   size="xsmall"></aui-avatar>
        <aui-avatar src="images/avatar-96.png" alt="Small Avatar"    size="small"></aui-avatar>
        <aui-avatar src="images/avatar-96.png" alt="Medium Avatar"   size="medium"></aui-avatar>
        <aui-avatar src="images/avatar-96.png" alt="Large Avatar"    size="large"></aui-avatar>
        <aui-avatar src="images/avatar-96.png" alt="XLarge Avatar"   size="xlarge"></aui-avatar>
        <aui-avatar src="images/avatar-96.png" alt="XXLarge Avatar"  size="xxlarge"></aui-avatar>
        <aui-avatar src="images/avatar-96.png" alt="XXXLarge Avatar" size="xxxlarge"></aui-avatar>
    </noscript>
</aui-docs-example>

<h3 id="api-reference">API Reference</h3>

<h4 id="attributes-properties">Attributes and properties</h4>

<table class="aui">
    <thead>
    <tr>
        <th>Name</th>
        <th>Attribute</th>
        <th>Property</th>
        <th>Type</th>
        <th class="description">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><code id="api-reference-src">src</code></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is an attribute</span></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is a property</span></td>
        <td>String</td>
        <td>
            <p>Required. The URL source for the avatar image.</p>
        </td>
    </tr>
    <tr>
        <td><code id="api-reference-alt">alt</code></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is an attribute</span></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is a property</span></td>
        <td>String</td>
        <td>
            <p>Required. The alternative text to show if the avatar image cannot be loaded.</p>
        </td>
    </tr>
    <tr>
        <td><code id="api-reference-size">size</code></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is an attribute</span></td>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success">is a property</span></td>
        <td>String (enum)</td>
        <td>
            <p>The size of the avatar.</p>
            <p>Values:</p>
            <ul>
                <li><code>xsmall</code></li>
                <li><code>small</code></li>
                <li><code>medium</code> <aui-lozenge>default</aui-lozenge></li>
                <li><code>large</code></li>
                <li><code>xlarge</code></li>
                <li><code>xxlarge</code></li>
                <li><code>xxxlarge</code></li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>

<h4 id="methods">Methods</h4>

<p>There are no methods.</p>

<h4 id="events">Events</h4>

<p>There are no events.</p>
