@import './imports/global';

@aui-reveal-text-trigger-height: 1.42857142857143em;
@aui-reveal-text-line-height: 1.42857142857143;

aui-reveal-text {
    min-height: @aui-reveal-text-trigger-height;
    display: block;

    >[contents] {
        display: inline;
    }

    >[data-aui-trigger] {
        background: @aui-panel-bg-color;
        border: none;
        bottom: 0;
        color: @aui-link-color;
        cursor: pointer;
        font-family: inherit;
        font-size: inherit;
        font-variant: normal;
        font-weight: normal;
        height: @aui-reveal-text-trigger-height;
        line-height: @aui-reveal-text-line-height;
        margin: 0;
        padding-left: 10px;
        position: absolute;
        right: 0;
        text-decoration: none;
        vertical-align: baseline;

        &::-moz-focus-inner {
            border: 0;
            padding: 0;
        }

        &:hover,
        &:focus {
            text-decoration: underline;
        }

        &:hover > span {
            text-decoration: underline;
        }

        &::before {
            color: @aui-text-color;
            content: "\2026\00a0"; // ellipsis
        }

    }
}

aui-reveal-text[open] {
    height: auto;

    >[data-aui-trigger] {
        position: relative;

        [closed-text] {
            display: none; // Show the correct trigger text.
        }

        &::before {
            display: none;  // Hide the ellipsis when open
        }
    }
}

aui-reveal-text:not([open]) {
    height: 0;
    overflow: hidden;
    position: relative;

    >[data-aui-trigger] [open-text] {
        display: none;
    }
}
